*.a
*.cflow
*.la
*.lo
*.o
*.so
*~
.bootstrap
.deps
.emacs*
.libs
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
core
git-describe
git-describe.h
gnulib
libtool
m4
pathdefs.h
stamp-h1
mailutils*.tar.*
