*.a
*.la
*.lo
*.o
*.so
*~
.bootstrap
.deps
.emacs*
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
libtool
m4
stamp-h1
config.h
config.h.in
config.log
config.status
configure
.libs
.deps