[submodule "gint"]
	path = gint
	url = git://git.gnu.org.ua/gint.git
[submodule "doc/imprimatur"]
	path = doc/imprimatur
	url = git://git.gnu.org.ua/imprimatur.git
[submodule "gnulib"]
	path = gnulib
	url = git://git.sv.gnu.org/gnulib.git
