*.output
.deps
.gdbinit
.libs
Makefile
Makefile.in
ali
anno
burst
comp
fmtcheck
folder
forw
inc
install-mh
mark
mh_alias.h
mh_alias_gram.c
mh_alias_lex.c
mh_fmtgram.c
mhl
mhn
mhseq
mhparam
mhpath
pick
pick-gram.c
pick-gram.h
prompter
refile
repl
rmf
rmm
scan
send
sortm
whatnow
whom
