*.inc
Makefile
Makefile.in
index.html
mailutils.aux
mailutils.cp
mailutils.cps
mailutils.dvi
mailutils.fn
mailutils.fns
mailutils.info*
mailutils.ky
mailutils.log
mailutils.op
mailutils.pg
mailutils.pgs
mailutils.ps
mailutils.tmp
mailutils.toc
mailutils.tp
mailutils.vr
mailutils.fl
mailutils.kw
mailutils.pdf
mailutils.pr
mdate-sh
muint.info*
stamp-1
stamp-vti
texinfo.tex
vers-muint.texi
version.texi

